# Environments
.env/
venv/
env/

# Data & Models
datasets/
*.pt
*.onnx
runs/
__pycache__/
.ipynb_checkpoints/

# Ignore local dataset images and processed splits
src/dataset/raw/
src/dataset/processed/

# Ignore YOLO training artifacts and weights
runs/
*.pt